@font-face{
	font-family: 'Cabrion';
	src: url(../font/cabrion.ttf);
}

body{
	background-image: url('../img/fond.jpg');
	background-position: contain;
	color:white;
	font-family: 'Cabrion';
}

.touchid{
	margin-top: 15%;
}
h1{
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.05em;
}

.itunes{
	color:grey;
}

hr{
	background-color:grey;
}
.switch{
	font-weight: bold;
	font-size: 1.1em;
}

.plus{
	float:right;
}

/*SLIDESHOW*/

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  text-align: justify;
  color:grey;
  margin: 20px 0;
}



/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  position :fixed;
  top: 50%;
  width: auto;
  margin-top: -30px;
  right:0;
  margin-left:40%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dot:hover, .dot.active {
  background-color: white;
}


@media screen and (max-width: 1000px){

		.dot-container {
	  padding: 20px;
	  position :relative;
	  width: auto;
	  margin-left:0;
	  margin-top:0;
	}

	.dot {
		display: inline-block;
	}

}