@font-face{
	font-family: 'Newyork';
	src: url(../font/NewYorker/NY.ttf);
}

@font-face{
	font-family: 'nyi';
	src: url(../font/NewYorker/ACaslonPro-Italic.otf);
}

@font-face{
	font-family: 'Jost*';
	src: url(../font/Jost/Jost-400-Book.ttf);
}

@font-face{
	font-family: 'nyr';
	src: url(../font/NewYorker/ACaslonPro-Regular.otf);
}

.container{
	margin:40px;
	margin-top:0;
}

.h1{
	font-family: 'Newyork';
	font-size: 6.6em;
	margin:0;
	margin-bottom: 25px;
	word-spacing: -10px;
	letter-spacing: -3px;
}

.italic{
	font-family: 'nyi';
	font-style: italic;
	font-size:2.5em;
	margin:0;
	margin-bottom: 25px;
}

.photo{
	height:5em;
	width: auto;
	border-radius:60px;
	margin-bottom: 15px;
}

.by{
	display: inline-block;
	font-family: 'Jost*';
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	position: absolute;
	margin-top:2em;
	margin-left:1%;
}

hr{
	border: 1px solid #E0E2E5;
	margin-bottom: 5%;
}

.plettrine{ /* Je veux que la première lettre de mes paragraphes... */    
	font-family:'nyr';
	font-size:2.4em; /*tailles lettres paragraphe*/
}

.lettrine{
	float:left;
	font-size:2.8em; /*taille premiere lettre = lettrine*/
	margin-right:1%;
	margin-top:-1%;
}