@font-face{
	font-family: 'Tolyer';
	src: url(../font/Tolyer.ttf) format('truetype');
}

@font-face{
	font-family: 'Akrobat';
	src: url(../font/AkrobatBlack.otf);
}

@font-face{
	font-family: 'Cabrion';
	src: url(../font/cabrion.ttf);
}

/*arrière plan du fond du site*/

body{
	background-color:#2B3B3B;
	margin:0 auto;
	list-style: none;
}

.carousel{
	background-image:url('../img/fond.jpg');
	background-size: cover;
	font-family: 'Cabrion';
}

/*Barre de navigation*/
.nav{
	background-color: #2b2d2a;
}

/*shinola*/
.navbar-brand{
	border-left:1px solid #373934;
	border-right: 1px solid #373934;
	padding:20px;
	padding-left:1.7em;
	padding-right: 1.7em;
	align-self: center;
}


.logo{
	width:9em;
}

/*liens principaux blancs*/

ul{
	margin:0;
	padding-top:5px;
	padding-bottom:20px;
}

li:first-child{
	margin-left:10%;
}

li:nth-child(3){
	margin-left:10%;
}

.nav-link{
	color:white !important;
	line-height: 1em;
}

.nav-link:hover{
	color : #A0F3F6 !important;
}

.nav-item{
	font-family: 'Akrobat';
	color:white;
	font-size:1.6em;
	text-align: center;
	margin-left:0.5em;
	margin-right: 0.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
}

a{
	text-decoration: none;
}

/*texte en gris au dessus*/
.read{
	font-family: 'Freemono';
	font-size:0.5em;
	font-weight: bold;
	color: #797c75;
}

/*réseaux sociaux dans la nav*/

/*images des réseaux*/
/*section paragraphe newsletter*/

.newsletter{
	color:white;
	font-size:0.5em;
	font-family: "Akrobat";
	text-transform: uppercase;
	display: block;
	letter-spacing: 0;

}

.imagesrs{
	margin-left:60px;
}
.rs{
	height: 0.9em;
	width: 0.9em;
	margin-top:20px;
	display: inline;
}

/*CAROUSEL*/

.image{
	margin-left:11%;
	width: 78%;
	border-left: 4px solid white;
	border-right: 4px solid white;
}

/*zone de texte du carousel*/

.zonetextcarousel{
	margin-top:-30%;
	margin-left:15%;
	text-align: left;
	width: 30%;
	color:white;
	position:absolute;
}

.description, .textimportant{
	font-family: 'Akrobat';
	text-transform: uppercase;
}

.description{
	margin-bottom:10px;
}

.textimportant{
	font-size:3em;
	line-height: 1em;
}

hr{
	border: 1px solid lightgrey;
	margin:10px;
	margin-top:-10px;
}

 .learnmore{
 	background-image: url(../img/flecheorange.png);
 	background-size: 100% 100%;
 	background-repeat: no-repeat;
 	background-color: transparent;
 	border:none;
 	text-transform: uppercase;
 	padding:0.6em;
 	padding-left:1.5em;
 	padding-right: 3em;
 	font-weight: bold;
 	font-size:0.9em;
 	color:white;
 }

/*flèches carousel*/

.prev{
	float:left;
	margin-left:70px;
}

.next{
	float:right;
	margin-right:70px;
}

.prev, .next{
	margin-top:-400px;
}

@media(min-width: 1810px){
	.nav-link{
		font-size:2em;
	}

	.logo{
		width:16em;
	}
}

@media (max-width: 1810px){
	.nav-link{
		font-size:1.7em;
	}

	.logo{
		width:15em;
	}
}

@media (max-width: 1650px){
	.nav-link{
		font-size:1.4em;
	}

	.logo{
		width:13em;
	}
}

@media (max-width: 1450px){
	.nav-link{
		font-size:1.2em;
	}

	.logo{
		width:11em;
	}
}

@media (max-width: 1320px){
	.nav-link{
		font-size:1em;
	}

	.logo{
		width:9em;
	}
}

@media(max-width: 1240px){
	.zonetextcarousel{
	margin-bottom:-40px;
	}

	.textimportant{
	font-size:1.5em;
	}	
}

@media (max-width: 1177px){
	.nav-link{
		font-size:0.7em;
	}

	.logo{
		width:7em;
	}

	.n{
		display:none;
	}

	.read{
		font-size:0.9em;
	}
}

@media(max-width: 900px){
	.readmore{
		display:none;
	}
}

@media(max-width: 720px){

	.zonetextcarousel{
	margin-bottom:-20px;
}

	.description{
		font-size:0.7em;
	}

	.textimportant{
	font-size:0.9em;
	}

	.learnmore{
	font-size:0.6em;
	}
}

@media(max-width: 820px){
	.nav-link{
		font-size:0.6em;
	}

	.logo{
		width:5em;
	}
}

@media(max-width: 420px){
	.description{
	display:none;
	}
}

@media(max-width: 370px){

	.zonetextcarousel{
	margin-bottom:-25px;
	}

	.textimportant{
	font-size:0.9em;
	}

	.readmore{
		display:none;
	}

	.learnmore{
	font-size:0.4em;
	}

	hr{
		display: none;
	}
}