body{
	font-family: Waree, sans-serif;
	background-color: #F4F4F4;
}

nav{
	font-weight: bold;
	margin-top:1%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left:30px;
	margin-right:30px;
	text-decoration: none;
}

a {
	color:#9B9999 !important;
	text-decoration: none;
}

a:hover, .things:hover{
	color: #33AFB9 !important;
	text-decoration: none;
}

ul{
	list-style: none;
	margin:0;
	margin-top:8px;
}

li{
	display: inline;
	margin-left:20px;
}

hr{
	margin-left:30px;
	margin-right:30px;
	border: 1px solid #E8E2E2;
}

.things { 
	color: #41454D;
	font-size:1.4em;
	text-decoration: none;
}

.logo{
	text-decoration: none;
	margin-right:10px;
}

/*modal*/

.modal-row{
	justify-content: center;
}

.modal{
 	display: block;
 	position: relative;
 	justify-content: center;
 	margin-top:10%;
	background-color: #4F4F4D;
	color:white;
	border-radius: 0.4em;
	padding-bottom:-100px;
	margin-bottom: 0;
	height: auto;
	box-shadow: 0px 0px 5px 5px #90959E50;
	margin-left:20%;
	margin-right:20%;
}

.modal-content{
	background-color: transparent;
	border:none;
}

.modal-dialog{
	margin:0;
}

.modal-body{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: -1%;

	background-color: none;
}

.check{
	height: 3em;
	width: auto;
	padding-right:0.5em;
	margin-top:10px;
	margin-left:10px;
}

.grey{
	color: #999994;
	font-weight: normal;
}

.thank{
	font-weight: bold;
}